#hud {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 300px;
    align-self: stretch;
    margin: 0px 64px;
    background-color: var(--color-hud-bg);
    justify-content: center;
    border-left: 3px red solid;
    border-right: 3px red solid;
}

#hud .hud-panel {
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#hud .hud-section {
    display: flex;
    flex-direction: row;
    background-color: var(--color-hud-dark);
    border-radius: 8px;
    box-shadow: 0px 4px var(--color-hud-darker);
}

#hud .hud-chip-score-card {
    flex-direction: column;
}

#hud .hud-label {
    font-size: 24px;
    color: var(--color-text-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px;
    align-self: center;
    text-shadow: 2px 2px black;
    gap: 4px;
}

#hud .total-score .hud-value {
    font-size: 48px;
    color: #fff;
    text-align: center;
    width: 100%;
    background: var(--color-hud-bg);
    margin: 8px;
    margin-right: 10px;
    padding: 8px;
    border-radius: 4px;
    text-shadow: 2px 2px black;
    margin-left: 0;
}

#hud .hud-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
}

#hud .hud-row-chips {
    display: flex;
    width: 100%;
    justify-content: end;
    background-color: var(--color-hud-blue);
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0px 4px var(--color-hud-blue-shadow);
}

#hud .hud-row-x {
    flex: 0;
    padding: 0 8px;
    padding-left: 9px;
    color: red !important;
}

#hud .hud-row-mult {
    display: flex;
    text-align: left;
    width: 100%;
    background-color: red;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0px 4px var(--color-hud-red-shadow);
}

#hud .hud-sub-label {
    font-size: 13px;
    color: var(--color-hud-sub-label);
}

#hud .hud-sub-value {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}

#hud .hud-sub-value.chips {
    font-size: 48px;
    color: #fff;
}

#hud .hud-sub-value.mult {
    font-size: 48px;
    color: #fff;
}

#hud .hud-sub-value.gained {
    font-size: 32px;
    color: #ffffff;
    height: 42px;
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hud .hud-sub-value.gained.scoring {
    padding-top: 8px;
    font-size: 54px;
}

#hud .hud-digit {
    display: inline-block;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

#hud .hud-money-section {
    align-items: center;
    padding: 8px 10px;
}

#hud .hud-money-value {
    font-size: 48px;
    color: var(--color-coins);
    background: var(--color-hud-bg);
    width: 100%;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

#hud .hud-progress-section {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

#hud .hud-progress-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin: 8px 10px;
}

#hud .hud-progress-tournament,
#hud .hud-progress-round {
    font-size: 48px;
    display: flex;
    align-items: center;
    background-color: var(--color-hud-bg);
    border-radius: 4px;
    width: 100%;
    justify-content: center;
    padding: 4px 0px;
}

#hud .hud-progress-current {
    color: var(--color-gold-text);
}

#hud .hud-progress-total {
    color: #ffffff;
    font-size: 24px;
}
